.item {
    height: 400px;
    width: 400px;
    background-color: aqua;
    display: inline-block;
    color: black;
    font-size: 100px;
}

.item3 {
    display: none;
}

.obj {
    display: block;
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    font-size: 100px;
}